<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Create a New Document</h1>
    <h1>Welcome, <%= userInfo?.name %>!</h1>
    <form action="/docs/create" method="POST">
      <label for="doc-title">Document Title:</label>
      <input type="text" id="doc-title" name="doc-title" required />

      <button type="submit">Create Document</button>
    </form>
  </body>
</html>
