<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container">
      <h1>Create a New Document</h1>
      <form action="/api/v1/docs/create" method="POST">
        <label for="title">Document Title:</label>
        <input type="text" id="title" name="title" required />

        <button type="submit">Create Document</button>
      </form>
    </div>
    <%- include('footer') %>
  </body>
</html>
