<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container">
      <h1>Create a New Document</h1>
      <form style="direction: rtl" action="/api/v1/docs/create" method="POST" id="document-form">
        <label for="title">שם המסמך:</label>
        <input type="text" id="title" name="title" required />

        <label for="tableTitle">לכבוד:</label>
        <input type="text" id="tableTitle" name="tableTitle" required />

        <div id="table-rows">
          <div class="table-rows-container">
            <h3>שורה 1</h3>
            <div class="table-row" style="display: flex; justify-content: space-between">
              <div>
                <label for="row1cell1">מוצר:</label>
                <input type="text" name="rows[0][0]" required />
              </div>
              <div>
                <label for="row1cell2">תיאור:</label>
                <textarea rows="4" type="text" name="rows[0][1]" required></textarea>
              </div>
              <div>
                <label for="row1cell3">מחיר:</label>
                <input type="text" name="rows[0][2]" required />
              </div>
              <div style="display: flex; flex-direction: column; justify-content: space-evenly">
                <button type="button" class="remove-row">מחיקת שורה</button>
                <button type="button" class="hide-row">להסתיר שורה</button>
              </div>
            </div>
          </div>
        </div>

        <button type="button" id="add-row">הוספת שורה</button>
        <button type="submit" id="submit-button">יצירת מסמך</button>
      </form>
    </div>
    <%- include('footer') %>

    <script src="/js/tableDocs.js"></script>
  </body>
</html>
