<footer>
  <div class="footer-content">
    <p>&copy; <span id="current-year"></span> Sayag Services All rights reserved.</p>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('current-year').textContent = new Date().getFullYear();
    });
  </script>
</footer>
