<footer class="justify-center">
  <div class="footer-content">
    <p>&copy; <span id="current-year"></span> Sayag Services All rights reserved.</p>
  </div>
  <script src="/js/common.js"></script>
</footer>
