<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Include the navbar partial if necessary -->
    <%- include('navbar') %>

    <div class="login-container">
      <a href="<%=authUrl%>" class="google-login-btn">
        <img src="/img/google-logo.png" alt="Google Logo" class="google-logo" />
        Login with Google
      </a>
    </div>

    <!-- Include the footer partial -->
    <%- include('footer') %>
  </body>
</html>
