<nav class="navbar text-center">
  <div class="navbar-logo">
    <a href="/"><img src="/img/logo.png" width="105" alt="Logo" /></a>
  </div>
  <div>
    <h1 class="navbar-title">Sayag Services</h1>
  </div>
  <div class="nav-links">
    <% if (userInfo) { %>
    <div class="justify-center">
      <img
        src="<%=userInfo.picture%>"
        width="35"
        alt="Logo"
        style="border-radius: 50%; margin-right: 10px"
      />
      <span>Welcome, <%= userInfo?.name %>!</span>
    </div>
    <div class="justify-center"><a href="/auth/logout">Logout</a></div>
    <% } else { %>
    <a href="/login" class="login-btn">Login</a>
    <% } %>
  </div>
</nav>
